@import "mobile.css";
*{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    margin: 0;
}

header{
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: space-between;
}
main{
    height: 100vh;
    background-image: linear-gradient(#5D3D92, white);
    padding: 10px 5% 5%;
}
header .logo{

}
button{
    border: none;
}
nav{

}

h1{
    margin-bottom: 0;
}
p{
    font-size: 24px;
    line-height: 35px;
}
.menu_items{
    display: inline-flex;
    list-style: none;
    align-items: center;
}

.menu_items li{
    margin: 0 15px;
    font-size: 24px;
}

.btn_bg_white{
    padding: 10px 15px;
    background-color: white;
    color: #5D3D92;
    font-size: 18px;
    border-radius: 30px;
}
.btn_bg_white:hover{
    background-color: #5D3D92;
    color: white;
    cursor: pointer;
}
.txt_gras {
    font-weight: 900;
}

.em13 {
    font-size: 13em;
    line-height: 10px;
    text-align: center;
    margin: 148px;
}

.em3{
    font-size: 3em;
}
.contenu div{
    width: 50%;
    float: left;
}

footer img{
    width: 100%;
}